.ym-image .ant-image {
    display: block!important
}

._skeleton_1uzp1_1 {
    background-color: #b2b2b2;
    animation: _skeleton-loading_1uzp1_1 .75s infinite alternate-reverse!important
}

._gradient_1uzp1_6 {
    background-color: transparent;
    background-image: linear-gradient(to right,#b2b2b2 0% 50%,#b2b2b200)!important
}

@keyframes _skeleton-loading_1uzp1_1 {
    0% {
        opacity: .1
    }

    to {
        opacity: .2
    }
}

.ym-feedback-root .youmind-popover-inner,.ym-feedback-root .ant-popover-inner {
    border-radius: 16px!important
}

.ym-chat-feedback {
    opacity: 0;
    transition: opacity .2s ease-in-out
}

.ym-chat-feedback:active,.ym-chat-feedback.feedback-open {
    opacity: 1
}

.ym-chat-feedback:has([data-state=open]) {
    opacity: 1
}

.ym-askai-container:hover .ym-chat-feedback {
    opacity: 1
}

._topMask_oz1o0_1 {
    background: linear-gradient(0deg,transparent,var(--popover));
    pointer-events: none
}

._bottomMask_oz1o0_6 {
    background: linear-gradient(180deg,transparent,var(--popover));
    pointer-events: none
}
