.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,.slick-slider .slick-list {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:before,.slick-track:after {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-slider .slick-slide {
    margin: 20px 0
}

.slick-slider .slick-dots {
    display: flex;
    justify-content: center
}

.slick-slider .slick-dots li {
    width: 10px;
    height: 10px;
    background-color: #106eb26f;
    margin: 0 5px;
    border-radius: 5px
}

.slick-slider .slick-dots li.slick-active {
    background-color: #008ce3
}

.slick-slider .slick-dots li button {
    font-size: 0;
    background: transparent;
    border: 0;
    outline: none
}

.slick-slider .slick-dots li button:focus {
    outline: none
}

.m-steps-container {
    position: relative;
    background-color: #fff
}

@media only screen and (max-width: 767px) {
    .m-steps-container:before,.m-steps-container:after {
        content:"";
        position: absolute;
        height: 100%;
        width: 70px;
        z-index: 1
    }

    .m-steps-container:before {
        left: 0;
        top: 0;
        background-image: -webkit-linear-gradient(180deg,rgba(255,255,255,.001) 0%,#ffffff 100%)
    }

    .m-steps-container:after {
        right: 0;
        top: 0;
        background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,.001) 0%,#ffffff 100%)
    }
}

.m-steps-container .m-steps-title {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}

.m-steps-container .slick-slide {
    height: 100%
}

.m-steps-container .slick-slide:first-of-type .m-steps:before {
    visibility: hidden
}

.m-steps-container .slick-slide:last-of-type .m-steps:after {
    visibility: hidden
}

.m-steps-container.design-system .m-steps-btn {
    font-weight: 700;
    background-color: #fff;
    border-color: #6c757d;
    color: #6c757d;
    margin: 0 0 3px
}

.m-steps-container .m-steps-btn {
    width: 32px;
    height: 32px;
    margin: 0 4px 12px;
    padding: 0;
    font-weight: 800;
    font-size: .875em;
    color: #4b5e67;
    background-color: #e9ebec;
    border-radius: 50%;
    border: 2px solid #e9ebec;
    outline: 0
}

.m-steps-container.design-system .m-steps-wrapper .m-steps.visited .m-steps-btn,.m-steps-container.design-system .m-steps-wrapper .m-steps.completed .m-steps-btn {
    color: #2a645e;
    background-color: #fff;
    border-color: #2a645e
}

.m-steps-container.design-system .m-steps-wrapper .m-steps.completed {
    color: #fff
}

.m-steps-container.design-system .m-steps-wrapper .m-steps:before,.m-steps-container.design-system .m-steps-wrapper .m-steps:after {
    background-color: #6c757d;
    height: 2px
}

.m-steps-container.design-system .m-steps-wrapper .m-steps.visited:before,.m-steps-container.design-system .m-steps-wrapper .m-steps.visited:after,.m-steps-container.design-system .m-steps-wrapper .m-steps.completed:before,.m-steps-container.design-system .m-steps-wrapper .m-steps.completed:after {
    background-color: #6c757d;
    height: 2px
}

.m-steps-container.design-system .m-steps-wrapper .m-steps.active .m-steps-btn {
    color: #fff;
    border-color: #2a645e;
    background: #2a645e
}

.m-steps-container .m-steps-wrapper {
    outline: 0
}

.m-steps-container .m-steps-wrapper .m-steps {
    position: relative;
    display: flex;
    text-align: right
}

.m-steps-container .m-steps-wrapper .m-steps>div {
    display: inline-block;
    text-align: center
}

.m-steps-container .m-steps-wrapper .m-steps:before,.m-steps-container .m-steps-wrapper .m-steps:after {
    content: "";
    display: inline-block;
    flex-grow: 1;
    height: 4px;
    margin-top: 14px;
    background-color: #e9ebec;
    vertical-align: top
}

.m-steps-container .m-steps-wrapper .m-steps.current button {
    background-color: #fff
}

.m-steps-container .m-steps-wrapper .m-steps.visited:before,.m-steps-container .m-steps-wrapper .m-steps.visited:after {
    background-color: #dcf9ed
}

.m-steps-container .m-steps-wrapper .m-steps.visited .m-steps-btn {
    color: #03a05c;
    background-color: #dcf9ed;
    border-color: #dcf9ed;
    cursor: pointer
}

.m-steps-container .m-steps-wrapper .m-steps.last-visited:after {
    background-color: #e9ebec
}

.m-steps-container .m-steps-wrapper .m-steps.active .m-steps-btn {
    color: #03a05c;
    border-color: #03a05c;
    background: none
}

.m-steps-container .m-steps-wrapper .m-steps:disabled {
    cursor: default
}

.m-steps-container .m-steps-wrapper .m-steps.completed:before,.m-steps-container .m-steps-wrapper .m-steps.completed:after {
    background-color: #dcf9ed
}

.m-steps-container .m-steps-wrapper .m-steps.completed button {
    background-color: #dcf9ed;
    border-color: #dcf9ed;
    color: #00c26e
}

.m-steps-container .m-steps-wrapper .m-steps.completed.current button {
    background-color: #fff
}

@media (max-width: 576px) {
    .m-steps-container .m-steps-title {
        display:none
    }

    .m-steps-container .m-steps-btn {
        margin: 0 4px
    }
}

.card-flag[data-v-b76c2ee0] {
    transform: scale(.6)
}

.card-flag__boleto[data-v-b76c2ee0],.card-flag__pix[data-v-b76c2ee0] {
    transform: scale(1);
    margin-right: 10px!important
}

.card-flag-inserted-number[data-v-b76c2ee0] {
    position: absolute;
    top: calc(50% - 5px);
    right: 0
}

.loading-card__loader .loader__ring[data-v-b76c2ee0] {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px
}

.loading-card__loader .loader__ring div[data-v-b76c2ee0] {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 86px;
    height: 86px;
    margin: 8px;
    border: 4px solid #2A645E;
    border-radius: 50%;
    animation: loader-ring-b76c2ee0 1.5s infinite;
    border-color: #01B89A transparent transparent transparent
}

.loading-card__loader .loader__ring div[data-v-b76c2ee0]:nth-child(1) {
    animation-delay: -.45s
}

.loading-card__loader .loader__ring div[data-v-b76c2ee0]:nth-child(2) {
    animation-delay: -.3s
}

.loading-card__loader .loader__ring div[data-v-b76c2ee0]:nth-child(3) {
    animation-delay: -.15s
}

@keyframes loader-ring-b76c2ee0 {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.dashed-line {
    background-color: transparent!important;
    border-top: 1px dashed #ADB5BD!important
}

#contract-container .loading-card__loader {
    top: calc(50% - 63px)
}

.checkout-page {
    overflow-y: auto;
    overflow-x: hidden
}

.checkout-page .checkout-input-quantity input {
    padding: .5rem 0!important;
    min-width: 70px
}

.checkout-page .modal-loading-after-checkout .modal--header {
    display: none
}

.checkout-page .m-dropdown--container {
    margin: 0
}

.checkout-page .a-input-text_wrapper {
    margin: .5rem 0
}

.checkout-page .a-input-text_wrapper .a-label {
    font-size: 1rem;
    font-weight: 700
}

.checkout-page .a-input-text_wrapper .a-input-text_input {
    border: 1px #DEDFE4 solid;
    padding: .8rem 1rem;
    height: auto
}

.checkout-page .m-steps-container {
    background: transparent
}

.checkout-page .m-steps-container:before,.checkout-page .m-steps-container:after {
    background: transparent
}

.checkout-page .m-steps-container .slick-slider .slick-slide {
    height: 100%
}

.checkout-page .loading-card__loader .loader__container {
    top: 30%
}

.checkout-page .loading-card__loader .loader__ring {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px
}

.checkout-page .loading-card__loader .loader__ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 86px;
    height: 86px;
    margin: 8px;
    border: 4px solid #2A645E;
    border-radius: 50%;
    animation: loader-ring 1.5s infinite;
    border-color: #01B89A transparent transparent transparent
}

.checkout-page .loading-card__loader .loader__ring div:nth-child(1) {
    animation-delay: -.45s
}

.checkout-page .loading-card__loader .loader__ring div:nth-child(2) {
    animation-delay: -.3s
}

.checkout-page .loading-card__loader .loader__ring div:nth-child(3) {
    animation-delay: -.15s
}

@keyframes loader-ring {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.checkout-page .first-button {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right: 0!important;
    width: 100px
}

.checkout-page .second-button {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    width: 100px
}
